[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/userminer2/Desktop/Chromebook patches.desktop]
row=2
col=0

[/home/userminer2/Desktop/EclipsedOS checksums]
row=1
col=0

[/home/userminer2/Desktop/EclipseOS]
row=0
col=0

