[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/userminer2/Desktop/EclipseOS]
row=3
col=0

[2022-02-23-09-01-26-00]
row=4
col=0

[Trash]
row=2
col=0

[/]
row=0
col=0

[/home/userminer2]
row=1
col=0

